.requirement {
    margin: 10px 10px 10px 20px;
    padding: 10px;
    border: solid gray 2px;
    -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

.requirement-title {
    color: blue;
}

.duration {
   padding: 5px 0 10px 0;
}